[Desktop Entry]
Encoding=UTF-8
Name=Pytolemaic — A Toolbox for Model Quality
Type=Link
URL=https://towardsdatascience.com/pytolemaic-package-for-model-quality-analysis-2b7bea751cfd
Icon=text-html

